# launch rust documentation
alias rbook="rustup docs --book"

# if [ -x /usr/bin/dircolors ]; then
#     test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
#     alias ls='ls --color=auto'
#     alias dir='dir --color=auto'
#     alias vdir='vdir --color=auto'
#     #alias grep='grep --color=auto'
#     alias fgrep='fgrep --color=auto'
#     alias egrep='egrep --color=auto'
# fi


# list
alias ls='exa'
alias la='exa -a'
alias ll='exa -l'
alias l='exa -F'
alias lt='exa -T'
alias lla='exa -al'

alias cl='clear'
alias grep='rg --color=auto'

# pretty info
alias df='df -h'
alias free='free -ht'
alias wget='wget -c'
alias lsusr='cut -d: -f1 /etc/passwd'
alias pp='echo ${PATH} | sed "s/:/\n/g"'
alias env='env | sort'

# xrelated
alias xl="xrdb ~/.Xresources"
#alias printlock="printf '\t\    |    /\n\n\n.^_^-  SCREENLOCKED  -^_^.\n\n\n\t/    |    \'"
#alias lock="slock -m '$(printlock)'"
#alias testwm="Xephyr :5 & sleep 1 ; DISPLAY=:5 awesome"

# screen brightness
#alias nlight="redshift -O 4000"
#alias dlight="redshift -x"

# cd into config repo
alias cdc='cd $HOME/Desktop/dot'

# read screen brightness
alias brightness='cat /sys/class/backlight/acpi_video0/brightness'

alias nlight='redshift -O 4000'
alias dlight='redshift -x'

# youtube download shortcut
alias yta='youtube-dl -x --audio-quality 0'

#  remove terminal formating code
alias decolorise='sed "s/\x1b[[0-9;]\{1,\}m//g"'

alias dinit='dinit -d "${XDG_CONFIG_HOME}/.config/dinit.d/"'
# run `:read! bin/get_gcc_libpath`, neovim use treesitter(c++) now
#alias nvim='LD_LIBRARY_PATH=/nix/store/b0p7nvkwxr65q016zsqicrd4bcg5bv1s-gcc-10.3.0-lib/lib nvim'
