!TEMPLATE
!name.Class.resource: value
!WILDCARD
!=> ?.Class.ressource
!=> * mean all
!=> xprop for window info
!=> xev for events

! Xcursor.theme: Pop
Xcursor.size: 12

!"color0",
!"color1",
!"color2",
!"color3",
!"color4",
!"color5",
!"color6",
!"color7",
!"color8",
!"color9",
!"color10",
!"color11",
!"color12",
!"color13",
!"color14",
!"color15",
!"background",
!"foreground",
!"cursorColor",
!"termname",
!"shell",
!"minlatency",
!"maxlatency",
!"blinktimeout",
!"bellvolume",
!"tabspaces",
!"borderpx",
!"cwscale",
!"chscale",



*.foreground:   #efffee
*.background:   #002000
*.cursorColor:  #ffeeff
! black
*.color0:       #000000
*.color8:       #001233
! red
*.color1:       #c54329
*.color9:       #e74b4b
! green
*.color2:       #27a818
*.color10:      #05ca3a
! yellow
*.color3:       #c8d323
*.color11:      #eeee23
! blue
*.color4:       #0056ff
*.color12:      #0055bb
! magenta
*.color5:       #ae2fd9
*.color13:      #bc75d1
! cyan
*.color6:       #16c2c9
*.color14:      #25ffe2
! white
*.color7:       #efefef
*.color15:      #fefefe
