# alias are used in interactive mode only
# shopt -s expand_aliases  # to enable alias in shell script

# launch rust documentation
alias rbook="rustup docs --book"

# if [ -x /usr/bin/dircolors ]; then
#     test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
#     alias ls='ls --color=auto'
#     alias dir='dir --color=auto'
#     alias vdir='vdir --color=auto'
#     #alias grep='grep --color=auto'
#     alias fgrep='fgrep --color=auto'
#     alias egrep='egrep --color=auto'
# fi

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# notification
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# list
alias ls="exa"
alias la="exa -a"
alias ll="exa -l"
alias l="exa -F"
alias lt="exa -T"
# not an alias but kinda..
l.(){
    exa -a |
    rg '^\..*' |
    column -x
}

ltd(){
	exa -TL $1
}

alias cl="clear"
alias grep="rg --color=auto"

# info
alias df="df -h"
alias free="free -ht"
# -c is for continue download if file exist as partially downloaded
alias wget="wget -c"
alias lsusr="cut -d: -f1 /etc/passwd"
alias pp='echo ${PATH} | sed "s/:/\n/g"'

# xrelated
alias merge="xrdb -merge ~/.Xresources"
#alias printlock="printf '\t\    |    /\n\n\n.^_^-  SCREENLOCKED  -^_^.\n\n\n\t/    |    \'"
#alias lock="slock -m '$(printlock)'"
#alias testwm="Xephyr :5 & sleep 1 ; DISPLAY=:5 awesome"

# screen brightness
#alias nlight="redshift -O 4000"
#alias dlight="redshift -x"

# cd into config repo
alias cdc="cd \$HOME/Desktop/dot"

# read screen brightness
alias brightness="cat /sys/class/backlight/acpi_video0/brightness"

alias nlight="redshift -O 4000"
alias dlight="redshift -x"

# youtube download shortcut
alias yta="youtube-dl -x --audio-quality 0"

